body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html, body, #app, #root, #app>div {
  height: 100%
}

.trial {
  display: flex;
  flex-flow: column;
  background-color: white;
  align-items: center;
  align-self: center;
  height: 75%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 37.5%;
  left: 37.5;

}
.container-fluid {
  flex: 1 1 auto;
  height: max-content;
}

.outer {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 80%;
  background-color: rgba(92, 98, 107,.9);
  align-content: center;
  align-items: center;
  align-self: center;
  display: flex;
  position: relative;
  top: 10px;
} 

.comix-zone {
  border: 5px solid white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
  object-fit: cover; 
  object-position: 0 20%;

}

.nav-menu{
  text-align: left;
}